html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
  background: #ccc;
  
}
#header {
    background-color:grey;
    color:white;
	text-align:center;
    height: 50px;
	
}
#section {
    background-color:#eee;
    color:white;
	text-align:center;
    height: calc(100% - 50px);
	
}
#navigation {
    background-color:lightblue;
    float:left;
    width:150px;
    height:100%;	
}
#feedBlock {
    background-color:lightgrey;
    display:inline-block;
	height:100%;
	float:right;
    width:calc(100% - 150px);
    
}
#feed {
   background-color:lightgrey;
   height:100px;   
}
#feedList {
    background-color:lightgrey;
	text-align:left;
	height:calc(100% - 100px);
	
}
ul li {
    height:50px;
    width:750px;
	padding:2px;
     background-color:lightblue;	
}