html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
  background: #ccc;
  
}
#header {
    background-color:grey;
    color:white;
	text-align:center;
    height: 50px;
	
}
#section {
    background-color:#eee;
    color:white;
	text-align:center;
    height: calc(100% - 50px);
	
}
#navigation {
    background-color:lightblue;
    float:left;
    width:150px;
    height:100%;	
}
#profileBlock {
    background-color:#eee;
    height:100%;
	float:right;
    width:calc(100% - 150px);
    
}
#profile {
   background-color:lightgrey;
   display:inline-block;
   width:40%;
   height:100%;
   text-align:center;
}
#profileImage {
    background-color:lightgrey;
	text-align:left;
	width:60%;
	height:100%;
	float:right;
}
   

