html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
  background: lightgrey;
  
}
#header {
    background-color:lightblue;
    text-align:center;
    height: 50px;
	
}

#sidebar-wrapper {
    background-color:lightblue;
    float:left;
    height:100%;	
}

#profile {
   background-color:lightgrey;
   display:inline-block;
   height:100%;
   text-align:center;
}
input{
  width:250px;	
  font-size: 12px;
  font-family: Arial;
  white-space:pre;
}
#profileImage {
    background-color:lightgrey;
	text-align:left;
	height:100%;
	float:right;
}
   
